.floating-hire-me-group {
  position: fixed;
  bottom: 20px;
  right: 24px;
  z-index: 1000;

  .ant-float-btn {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    &.whatsapp {
      color: #25d366;
    }

    &.instagram {
      color: #e4405f;
    }

    &.twitter {
      color: #1da1f2;
    }
  }
}
