.services-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .head-text {
    font-size: clamp(2rem, 4vw, 2.5rem);
    font-weight: 800;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--black-color);
    text-transform: capitalize;

    span {
      color: var(--secondary-color);
    }
  }

  .services-intro {
    margin-bottom: 1rem;

    p {
      font-size: clamp(1rem, 2vw, 1.2rem);
      /* Responsive text size */
      color: var(--gray-color);
      /* Gray color */
      font-weight: 400;
    }
  }

  .p-text {
    font-size: clamp(0.75rem, 1.5vw, 0.8rem);
    /* Responsive text size */
    text-align: left;
    color: var(--gray-color);
    /* Gray color */
    line-height: 1.5;
  }

  .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 65px;
    margin-top: 35px;

    .service-card {
      background: white;
      padding: 15px;
      border-radius: 15px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
      width: 260px;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

      &:hover {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
      }

      .service-icon {
        font-size: clamp(2rem, 3vw, 2.5rem);
        /* Responsive icon size */
        color: #3498db;
        text-align: center;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: clamp(1.2rem, 2vw, 1.5rem);
        /* Responsive heading size */
        color: var(--black-color);
        margin-bottom: 1rem;
        font-weight: 600;
      }

      p {
        font-size: clamp(0.9rem, 1.5vw, 1rem);
        /* Responsive text size */
        color: var(--gray-color);
        /* Gray color */
        margin-bottom: 1.5rem;
        line-height: 1.6;
      }

      ul {
        list-style: none;
        padding: 0;
        margin-bottom: 1.5rem;

        li {
          font-size: clamp(0.8rem, 1.5vw, 0.9rem);
          /* Responsive list size */
          margin: 5% 5%;
          color: var(--gray-color);
          /* Gray color */
          display: flex;
          align-items: center;
        }
      }
    }
  }
}